.split {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.vertical-split {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.gutter {
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
  position: relative;
}

.Output {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #1e1e1e;
  color: white;
  overflow: auto;
}

.problem_detail .nav.nav-tabs {
  border-bottom: 1px solid grey;
}

.problem_detail .nav-tabs .nav-link.active {
  background-color: var(--bs-black);
  border: none;
  color: greenyellow;
}
.problem_detail .nav-tabs .nav-link {
  background-color: transparent;
  border: none;
  color: white;
}

.popup_ai_eval {
	position: fixed;
	bottom  : 20%;
	right: -12px;
	background-color: var(--bs-blue);
	z-index: 1000;
	border: 1px solid var(--bs-blue);
	border-radius: 5rem;
	padding: 0.4rem 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.popup_ai_eval.none {
  transform: translateX(100%);
}

