/* Dashboard Layout */
.dashboard_layout {
  display: flex;
  flex-direction: row;
}

.dashboard_layout > .dashboard_nav {
  flex: 1 1 18%;
  background-color: var(--bs-body-color);
  color: var(--bs-light);
  padding: 1rem;
  overflow-y: scroll;
  height: 100vh;
}
.dashboard_layout > .dashboard_content {
  flex: 1 1 82%;
  padding: 2rem 1rem;
  overflow-y: scroll;
  height: 100vh;
  max-width: 100%;
}

.dashboard_content > div {
  max-width: 100%;
  width: 100%;
}

.dashboard_content section {
  max-width: 100%;
  width: 100%;
  overflow-x: auto;
}

/* End */
.list-item .card-body {
  padding: 0.5rem 0.5rem;
}

.user_solution_item {
  gap: 1rem;
}

.user_solution_item > *:nth-child(1) {
  flex: 2 1 33%;
}

.user_solution_item > *:nth-child(2) {
  flex: 1 1 5%;
}

.user_solution_item > *:nth-child(3) {
  flex: 1 1 auto;
}

.user_solution_item > *:nth-child(4) {
  flex: 4 1 auto;
}

/* Your Solution  */
.your_solution .list-group-item {
  padding: 0.5rem 0.5rem;
}

.user_solution_item {
  align-items: center;
}

/* Moderator Solution */
.moderator-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0.5rem;
  border: 1px solid var(--bs-light);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.moderator-item > * {
  margin-bottom: 0;
}

.moderator-item > *:nth-child(1) {
  flex: 1 1 5%;
  text-align: center;
}

.moderator-item > *:nth-child(2) {
  flex: 1 1 20%;
}

.moderator-item > *:nth-child(3) {
  flex: 1 1 20%;
}

.moderator-item > *:nth-child(4) {
  flex: 1 1 15%;
}

.moderator-item > *:nth-child(5) {
  flex: 1 1 15%;
}
