.final_output {
  background-color: var(--bs-secondary);
  margin: 0.5rem 1rem;
  margin-top: 0.5rem;
  color: white;
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 75%;
  overflow-y: scroll;
}

.truncate {
  text-overflow: ellipsis;

  overflow: hidden;
  white-space: nowrap;
}
.fs-7 {
  font-size: 0.875rem !important;
}

.button-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
